@charset "utf-8";

/*@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');*/


* {
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "Nunito sans regular";
    src: url("fonts/nunito_sans/NunitoSans_10pt-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito bold";
    src: url("fonts/nunito/Nunito-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito extrabold";
    src: url("fonts/nunito/Nunito-ExtraBold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito black";
    src: url("fonts/nunito/Nunito-Black.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Nunito black", sans-serif;
    font-size: 6em;
    line-height: 118px;
}

h2 {
    font-family: "Nunito bold", sans-serif;
    font-size: 3em;
}

h3 {
    font-family: "Nunito bold", sans-serif;
    font-size: 4em;
    line-height: 75px;
}

h4 {
    font-family: "Nunito bold", sans-serif;
    font-size: 2.5em;
}

h5 {
    font-family: "Nunito bold", sans-serif;
    font-size: 2em;
    line-height: 40px;
    color: #1051B1;
}

p {
    font-family: "Nunito sans regular", sans-serif;
    font-size: 1.5em;
    line-height: 40px;
}

/* HEADER */
#cabecera {
    font-size: 1.5em;
    width: 100%;
    padding: 8px 100px;
    background: #039F64;
    backdrop-filter: blur(10px);
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botonera a {
    font-family: "Nunito bold", sans-serif;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

.botonera a:hover {
    color: #039F64;
    background-color: white;
    border-radius: 30px;
}

.contenedor img:hover {
    transform: scale(1.1);
}

nav ul {
    width: 100%;
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
}

nav li {
    padding: 0 30px;
    list-style: none;
}

/* FOOTER */
footer {
    font-size: 0.8em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 35px;
    background-color: #039F64;

    p {
        line-height: 30px;
    }
}

/* CONTACTO */
#informacion_contacto {
    font-family: "Nunito", sans-serif;
    background-image: url(img/fondos/fondo_contacto.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.estructura_contacto {
    padding: 120px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 150px;
}

.contacto {
    color: #039F64;
    width: 875px;
    background-color: white;
    padding: 48px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: -8px 10px 4px 0px rgba(0, 0, 0, 0.30);
}

form {
    width: 100%;
    height: auto;
}

label {
    font-size: 1.5em;
    color: black;
}

input {
    font-size: 1.5em;
    width: 100%;
    height: 50px;
    padding: 10px 24px;
    margin-top: 8px;
    margin-bottom: 42px;
    color: #039F64;
    border-radius: 24px;
    border: 3px solid #039F64;
}

textarea {
    font-size: 1.5em;
    width: 100%;
    height: 253px;
    padding: 10px 24px;
    margin-top: 8px;
    margin-bottom: 50px;
    color: #039F64;
    border-radius: 24px;
    border: 3px solid #039F64;
}

.boton_enviar {
    width: 100%;
    background-color: #039F64;
    color: white;
}

.columna_derecha {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 60px;

    p {
        width: 520px;
    }

    span {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}

.redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

iframe {
    width: 648px;
    height: 555px;
    border-radius: 40px;
    box-shadow: 8px 10px 4px 0px rgba(0, 0, 0, 0.30);
}




/* PROGRAMAS */
.presentacion {
    background-image: url(img/fondos/fondo_reciclar.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #039F64;
    padding: 120px 166px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 46px;
}

#video_texto {
    color: black;
    display: flex;
    align-items: center;
    gap: 28px;

    li {
        font-family: "Nunito sans regular", sans-serif;
        font-size: 1.5em;
        line-height: 40px;
    }
}

#video_texto video {
    border-radius: 54px;
    box-shadow: 8px 10px 4px 0px rgba(0, 0, 0, 0.30);
}

.recicladopapel {
    background-image: url(img/fondos/fondo_papel.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    padding: 130px 100px;
}

.recicladollaves {
    background-image: url(img/fondos/fondo_llaves.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    padding: 130px;
}

.recicladotapitas {
    background-image: url(img/fondos/fondo_tapitas.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    padding: 130px;
}

.recicladolatitas {
    background-image: url(img/fondos/fondo_latitas.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    padding: 130px;
}

.recicladomateriales {
    background-image: url(img/fondos/fondo_materiales.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    padding: 130px;
}

.publicidad {
    background-image: url(img/fondos/fondo_publicidad.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    padding: 130px;
}

.textopublicidad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 35px;
    color: white;
}

.papel,
.llaves,
.tapitas,
.latitas,
.otrosmateriales{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 57px;
}

#reciclado_papel h4 {
    color: #59B00D;
    gap: 28px;
}

#reciclado_papel p {
    width: 648px;
    color: black;
}

#reciclado_llaves h4 {
    color: #E27E08;
}

#reciclado_llaves p {
    width: 648px;
    color: black;
}

#reciclado_tapitas h4 {
    color: #E40635;
}

#reciclado_tapitas p {
    width: 648px;
    color: black;
}

#reciclado_latitas h4 {
    color: #039F64;
}

#reciclado_latitas p {
    width: 648px;
    color: black;
}

#reciclado_materiales h4 {
    color: #039F64;
}

#reciclado_materiales p {
    width: 648px;
    color: black;
}

.galeria-papel, 
.galeria-llaves,
.galeria-tapitas,
.galeria-latitas,
.galeria-materiales,
.galeria-publicidad {
    width: 1605px;
    display: flex;
    overflow-x: hidden;
}
.galeria-papel div, 
.galeria-llaves div,
.galeria-tapitas div,
.galeria-latitas div,
.galeria-materiales div,
.galeria-publicidad div{
    width: 513px;
    display: flex;
    grid-gap: 18px;
    flex: none;
}
.galeria-papel div img, 
.galeria-llaves div img,
.galeria-tapitas div img,
.galeria-latitas div img,
.galeria-materiales div img,
.galeria-publicidad div img{
    width: 513px;;
}
.galeria-papel::-webkit-scrollbar, 
.galeria-llaves::-webkit-scrollbar,
.galeria-tapitas::-webkit-scrollbar,
.galeria-latitas::-webkit-scrollbar,
.galeria-material::-webkit-scrollbar,
.galeria-publicidad::-webkit-scrollbar{
    display: none;
}
.galeria-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
}
#irbtn, #volverbtn{
    width: auto;
    cursor: pointer;
    margin: 30px;
}

.contenido {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80px;
    position: absolute;
    transition: 0.5s;
    color: white;
    border-radius: 54px;
    opacity: 0;
}
.contenido:hover {
    opacity: 1;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.6);
    
}




/* FUNDACION */

#titulo_fundacion {
    height: 548px;
    background-image: url(img/garrahan/hospital_garrahann.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opacidad_fundacion {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo_fundacion h1 {
    color: #039F64;
    background-color: white;
    padding: 48px 30px;
    width: 1320px;
    height: 196px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bajada_fundacion {
    background-color: white;
    background-image: url(img/fondos/fondo_fundacion.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 130px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.inicio_fundacion {
    text-align: center;
    width: 1150px;
    gap: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3,
    p {
        max-width: 1000px;
    }
}

.inicio_fundacion h3 {
    color: #039F64;
}

.imagen_fundacion {
    box-shadow: 8px 10px 4px 0px rgba(0, 0, 0, 0.30);
    border-radius: 54px;
    display: block;
}

.animacion-fundacion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.texto-imagen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1592px;
    height: 630px;
    position: absolute;
    transition: 0.5s;
    color: white;
    font-size: 75px;
    border-radius: 54px;
    opacity: 0;
}
.texto-imagen:hover {
    opacity: 1;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.6);
    
}



.info_fundacion {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;

    li {
        font-family: "Nunito sans regular", sans-serif;
        font-size: 1.5em;
        line-height: 40px;
    }
}

.docencia,
.inversion {
    width: 760px;
    height: 660px;
}



/* INDEX */
.titulo {
    width: 100%;
    height: auto;
    padding: 260px 395px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 10;
}

.titulo h1 {
    font-size: 110px;
    font-weight: 900;

}

.titulo h2 {
    font-size: 60px;
}

.flechas {
    width: 100%;
    padding: 725px 395px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10;
}

.flechas {
    animation-name: movimiento;
    animation-duration:500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes movimiento {
    0% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(30px);
    }
}

.background {
    width: 100%;
    filter: brightness(45%);
}

#proyecto_programa {
    background-color: white;
    background-image: url(img/fondos/fondo_proyecto.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 250px;
}

.proyecto {
    text-align: center;
    width: 800px;
    gap: 35px;
    display: flex;
    flex-direction: column;
}

.proyecto h3 {
    color: #039F64;
    font-size: 70px;
}

.programas {
    text-align: center;
    width: 100%;
    gap: 35px;
    display: flex;
    flex-direction: column;
}

.programas h3 {
    color: #039F64;
    font-size: 70px;
    line-height: 75px;
}

.iconos {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.nombre_iconos {
    display: flex;
    justify-content: center;
    padding: 0px 120px;
}

.nombre_iconos ul {
    display: flex;
    font-family: "Nunito extrabold", sans-serif;
    font-size: 2em;
    line-height: 40px;
}

.nombre_iconos ul li {
    padding: 0px 57px;
    list-style: none;
}

#tienda {
    height: 1178px;
    background-color: white;
    background-image: url(img/fondos/fondo_tienda.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.intro_tienda {
    text-align: center;
    width: 800px;
    gap: 35px;
    display: flex;
    flex-direction: column;
}

.intro_tienda {
    color: white;
}

#sumate {
    height: 1230px;
    background-color: white;
    padding: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_empresas {
    text-align: center;
    width: 800px;
    gap: 35px;
    display: flex;
    flex-direction: column;
}

.titulo_empresas h3 {
    color: #E27E08;
}

.empresas {
    height: 1230px;
    display: flex;
    align-items: center;
    gap: 48px;
}

.empresas p {
    font-size: 24px;
    color: #1051B1
}

.flechas2 {
    width: 100%;
    padding: 886px 395px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10;
}

.flechas2 {
    animation-name: movimiento;
    animation-duration:500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes movimiento {
    0% {
        transform: translateY(30px)
    }

    100% {
        transform: translateY(0px);
    }
}