@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins&display=swap');

* {
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

h1 {
    font-family: "Nunito", sans-serif;
    font-size: 6em;
}

h2 {
    font-family: "Nunito", sans-serif;
    font-size: 3em;
}

h3 {
    font-family: "Nunito", sans-serif;
    font-size: 3.5em;
}

h4 {
    font-family: "Nunito", sans-serif;
    font-size: 2.5em;
}

p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5em;
}

#cabecera {
    font-family: "Nunito";
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    padding: 8px 100px;
    background: #039F64;
    backdrop-filter: blur(10px);
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botonera a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

.botonera a:hover {
    color: #039F64;
    background-color: white;
    border-radius: 30px;
}

.contenedor img:hover {
    transform: scale(1.1);
}

nav ul {
    width: 100%;
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
}

nav li {
    padding: 0 30px;
    list-style: none;
}

footer {
    font-family: "Nunito";
    font-weight: normal;
    font-size: 0.8em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 30px;
    background-color: #039F64;
}

.estructura_contacto {
    font-family: "Nunito";
    background-color: #039F64;
    background-image: url();
    padding: 120px 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 165px;
}

.contacto {
    width: 890px;
    background-color: white;
    padding: 48px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: -8px 10px 4px 0px rgba(0, 0, 0, 0.30);
}

form {
    width: 100%;
    height: auto;
}

label {
    font-size: 1.5em;
}

input {
    font-size: 1.5em;
    width: 100%;
    height: 50px;
    padding: 10px 24px;
    margin-top: 8px;
    margin-bottom: 42px;
    color: #039F64;
    border-radius: 24px;
    border: 3px solid #039F64;
}

textarea {
    font-size: 1.5em;
    width: 100%;
    height: 253px;
    padding: 10px 24px;
    margin-top: 8px;
    margin-bottom: 50px;
    color: #039F64;
    border-radius: 24px;
    border: 3px solid #039F64;
}

.boton_enviar {
    width: 100%;
    background-color: #039F64;
    color: white;
}

.columna_derecha {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.columna_derecha p {
    width: 520px;
}

.redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}





/* programas */
.presentacion {
    background-image: url(img/fondos/fondo_reciclar.png);
    font-weight: 900;
    color: #039F64;
    padding: 120px 166px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 46px;
}
#video_texto {
    font-weight: normal;
    font-size: 1.5em;
    color: black;
    display: flex;
    align-items: center;
    gap: 28px;
}
#video_texto video{
    border-radius: 54px;
    box-shadow: -8px 10px 4px 0px rgba(0, 0, 0, 0.30);
}
#video_texto ul{
    line-height: 45px;
}

.recicladopapel {
    background-image: url(img/fondos/fondo_papel.png);
    display: flex;
    flex-direction: column;
    padding: 130px 100px;
}
.recicladollaves {
    background-image: url(img/fondos/fondo_llaves.png);
    display: flex;
    flex-direction: column;
    padding: 130px;
}
.recicladotapitas {
    background-image: url(img/fondos/fondo_tapitas.png);
    display: flex;
    flex-direction: column;
    padding: 130px;
}
.recicladolatitas {
    background-image: url(img/fondos/fondo_latitas.png);
    display: flex;
    flex-direction: column;
    padding: 130px;
}
.recicladomateriales {
    background-image: url(img/fondos/fondo_materiales.png);
    display: flex;
    flex-direction: column;
    padding: 130px;
}
.publicidad{
    background-image: url(img/fondos/fondo_publicidad.png);
    display: flex;
    flex-direction: column;
    padding: 130px;
}
.textopublicidad{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    color: white;
}
.papel, .llaves, .tapitas, .latitas, .otrosmateriales {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 57px;
}

#reciclado_papel h4{
    color: #59B00D;
    gap: 28px;
}
#reciclado_papel p{
    width: 648px;
    color: black;
}
#reciclado_llaves h4{
    color: #E27E08;
}
#reciclado_llaves p{
    width: 648px;
    color: black;
}
#reciclado_tapitas h4{
    color: #E40635;
}
#reciclado_tapitas p{
    width: 648px;
    color: black;
}
#reciclado_latitas h4{
    color: #039F64;
}
#reciclado_latitas p{
    width: 648px;
    color: black;
}
#reciclado_materiales h4{
    color: #039F64;
}
#reciclado_materiales p{
    width: 648px;
    color: black;
}


.carruselpapel {
}
.carruselpapel .grande {
    width: 1603px;
    padding: 60px ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    overflow: hidden;
}
.grande img{
    transition: all 0.15s ease;

}
.carruselpapel img{
    border-radius: 54px;
    box-shadow: -8px 10px 4px 0px rgba(0, 0, 0, 0.30);
    justify-content: end;
}
.carruselpapel .puntos {
    width: 100%;
    font-size: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s ease;
}
.carruselpapel .punto {
    width: 50px;
    color: rgb(19, 21, 143);
}









/* fundacion garrahn */

#titulo_fundacion {
    height: 548px;
    background-image: url(img/hospital\ garrahann.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
#titulo_fundacion h1 {
    font-family: "Nunito";
    font-size: 6em;
    color: #039F64;
    background-color: white;
    padding: 48px 30px;
    width: 1320px;
    height: 196px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bajada_fundacion {
    height: 2135px;
    background-color: white;
    background-image: url(img/fondos/fondo_fundacion.png);
    padding: 130px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}
.inicio_fundacion {
    text-align: center;
    width: 1150px;
    gap: 35px;
    display: flex;
    flex-direction: column;
}
.inicio_fundacion h3 {
    font-family: "Nunito";
    font-weight: 800;
    color: #039F64;
    font-size: 70px;
    line-height: 75px;
}
.inicio_fundacion p {
    font-family: "Nunito Sans";
    font-size: 24px;
    line-height: 40px;
}
.imagen_fundacion {
    box-shadow: -8px 10px 4px 0px rgba(0, 0, 0, 0.30);
    border-radius: 54px;
}
.info_fundacion {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
}
.docencia, .inversion {
    width: 760px;
    height: 660px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.info_fundacion h5 {
    font-family: "Nunito" ;
    color: #1051B1;
    font-weight: 800;
    font-size: 32px;
}
.info_fundacion p, ul {
    font-family: "Nunito Sans";
    color: black;
    font-size: 24px;
    line-height: 40px;
}
.imagen_fundacion:hover {
    filter:brightness(40%);
    transition: 0.5;
}